body{
	margin: 0;
	padding: 0;
	font-family: 'GothamPro';
	font-style: normal;
	font-weight: normal;
	background-color: #D8D8D8;
}

header{
	height: 60px;
	display: flex;
	background-color: #303030;
}

.search-wrapper {
  	display: flex;
	width: 600px;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
	margin: 0  0  0 60px;
}

.search-form {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

#textInput {
  	width: 350px;
  	height: 30px;
  	padding-left: 18px;
  	border: none;
	border-radius: 10px 0px 0px 10px; 
	background-color: #FAFAFA;
  	outline: none;
  	position: relative;
  	transition: .3s linear;
}

#textInput:focus {
	width: 505px;
}

.btn-search-clear {
    display: flex;
    justify-content: center;
	align-items: center;
	height: 100%;
}

.br-vert {
	background-color: #FAFAFA;
	height: 32px;
	display: flex;
	justify-content: center;
	
}

#brvert {
	display: none;
}

#clearButton, #searchButton {
	height: 32px;
	width: 100%;
  	border: none;
  	background-color: #FAFAFA;
	border: none;
	font-size: 20px;
	outline: none;
}

#searchButton, #clearButton {
	border-radius: 0px 10px 10px 0px; 
	cursor: pointer;
	color: #4B4B4B;
}

#searchButton:disabled svg, #searchButton:disabled {
	outline: none;
	cursor: default !important;
}	 

#searchButton:disabled .fill-clear-search {
	fill: #E4E4E4;
}

#searchButton:disabled:hover {
	background: #FAFAFA;
}

#searchButton:disabled:active .fill-clear-search {
	fill: #E4E4E4;
}

 #clearButton {
  	display: none;
}

#searchButton:active, #clearButton:active {
	outline: none;
	background: #E4E4E4;
}

#searchButton:active .fill-clear-search,
 #clearButton:active .fill-clear-search {
	fill: #E4B218;
}

#searchButton:hover, #clearButton:hover {
	background: #E4E4E4;
}

.map-wrapper {
	display: flex;
	height: 660px;
}

.map-content {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.map {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scale-and-floor-wrapper {
	display: flex;
	width: 110px;
	height: 100%;
	align-items: flex-end;
}

.scale-and-floor {
	display: flex;
	width: 100%;
	height: 40%;
	flex-direction: column;
	justify-content: flex-end;
}

.items {
	width: 100%;
	height: 48%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 5px 0;
}

.items.scale {
	height: 30%;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.value-scale {
	font-size: 12px;
	line-height: 11px;
	color: #303030;
	cursor: default;
	background: transparent;
}

.value-scale span::selection {
	background: transparent;
}

svg.btn-svg {
	cursor: pointer !important;
}

.scale-and-floor-wrapper svg:hover .fill-line { 
  fill: #FFFFFF;
}

.scale-and-floor-wrapper svg:active .fill-line { 
  fill: #E4B218;
}

.light-table {
	cursor: pointer;
}

.light-table:hover { 
  fill: #E4B218;
}

.light-table:active { 
  fill: #E4B218;
}

.light-table:focus { 
  fill: #B58F1C;
}

#floor {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 76px;
	height: 126px;
	border-radius: 10px;
	background: #303030;
}

.btn-toggle {
   display:flex;
   padding:0;
   margin:0;
   border:0;
   background:#303030;
   outline: none;
   overflow:hidden;
 }

 .btn-toggle.down-toggle:disabled .fill-up-down {
  fill: #64552A;
  cursor: default;
}

.fill-up-down {
	cursor: pointer;
}

.up-toggle {
	display: flex;
}

#floor span {
	font-family: GothamPro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 57px;
	text-align: center;
	color: #FFC617;
	cursor: default;
}

#floor span::selection {
	background: transparent;
}

.down-toggle {
	display: flex;
}

.items svg:disabled .fill-up-down { 
  fill: #64552A;
}

.items svg:hover .fill-up-down { 
  fill: #E4B218;
}

.items svg:active .fill-up-down { 
  fill: #B58F1C;
}




.card-wrapper {
	display: flex;
	height: 661px;
}

.card {
	height: 100%;
	width: 335px;
	background-color: #484848;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;	
	padding: 0 17px;
	font-family: GothamPro;
	font-style: normal;
	font-weight: normal;	
}

.title-card {
	font-size: 18px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}

.employee {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	flex-direction: column;
	margin-top: 23px; 
}

.row-emp-1 {
	display: flex;
	flex-direction: row;
	margin-bottom: 21px; 
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.row-emp-2 {
	margin-top: 21px; 
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start;
}

.card-fio {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card-img {
	display: flex;
	align-items: flex-end;
}



.fio {
	font-size: 28px;
	line-height: 27px;
	color: #FFFFFF;
}

.avatar-emp {
  width: 70px;
  height: 70px;
  border-radius: 40px; 
}

.unchanged-emp {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 36%;
}

.changed-emp {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.change-stroke {
	font-size: 12px;
	line-height: 11px;
	color: #FFFFFF;
	margin-bottom: 12px;
}

.unchange-stroke {
	font-size: 11px;
	line-height: 11px;
	color: #999999;
	display: flex;
	padding-right: 50px;
	margin-bottom: 12px;
}

#overlay {
    position: fixed;
    display: none;
	width: 340px;
	height: 100%;
    top: 60px;
    left: 0;
    z-index: 2;
}

.btn-hide {
	display: flex;
}

.hide-overlay {
	background: #484848;
	border-radius: 3px;
}


.row-emp-3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 23px 0;
}

.close-btn {
	background: transparent;
	outline: none;
	border: none;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


.results-wrapper {
	display: flex;
	height: 661px;
}

.results {
	height: 100%;
	width: 335px;
	background-color: #484848;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;	
	padding: 0 20px;
	font-family: GothamPro;
	font-style: normal;
	font-weight: normal;	
}

#overlay-2 {
    position: fixed;
    display: none;
	width: 335px;
	height: 100%;
    top: 60px;
    left: 0;
    z-index: 2;
}

.title-res {
	font-size: 24px;
	line-height: 23px;
	color: #FFFFFF;
	margin: 22px 0;
}

.block-result {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.row-res {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.img-res {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
}

.res-name {
	font-size: 14px;
	line-height: 13px;
	color: #FFC617;
	margin-bottom: 5px;
}

.team-res, .floor-res, .team-desc, .res-pos, .floor-number {
	font-size: 11px;
	line-height: 11px;
	color: #999999;
}

.floor-number {
	color: #FFC617;
}

.br-hor {
	margin-bottom: 14px;
	margin-top: 14px;
}

.first-result {
	margin-top: 16px;	
}

.avatar-res {
  width: 35px;
  height: 35px;
  border-radius: 800px; 
  box-shadow: 0px 0px 10px #FFC617;
}