body{
	margin: 0;
	padding: 0;
	font-family: 'GothamPro';
	font-style: normal;
	font-weight: normal;
	background-color: #FAFAFA;
}

header{
	height: 60px;
	display: flex;
	background-color: #303030;
}

.search-wrapper {
  	display: flex;
	width: 600px;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
	margin: 0  0  0 60px;
}

.search-form {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	align-items: center;
}

#textInput {
  	width: 350px;
  	height: 30px;
  	padding-left: 18px;
  	border: none;
	border-radius: 10px 0px 0px 10px; 
	background-color: #FAFAFA;
  	outline: none;
  	position: relative;
  	transition: .3s linear;
}

#textInput:focus {
	width: 505px;
}

.btn {
    display: flex;
    justify-content: center;
	align-items: center;
	height: 100%;
	width: 50px;
}

#clearButton, #searchButton {
	height: 32px;
	width: 100%;
  	border: none;
  	background-color: #FAFAFA;
	border: none;
	font-size: 20px;
	outline: none;
}

#searchButton, #clearButton {
	border-radius: 0px 10px 10px 0px; 
	cursor: pointer;
	color: #4B4B4B;
}

#searchButton:disabled {
	color: #E4E4E4;
	outline: none;
	cursor: default;
}

#searchButton:disabled:hover {
	background: #FAFAFA;
}

#searchButton:disabled:active {
	color: #E4E4E4;
}

 #clearButton {
  	display: none;
}

#searchButton:active, #clearButton:active {
	color: #E4B218;
	outline: none;
	background: #E4E4E4;
}

#searchButton:hover, #clearButton:hover {
	background: #E4E4E4;
}


.map-wrapper {
	display: flex;
	height: 660px;
}

.map-content {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.map {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scale-and-floor-wrapper {
	display: flex;
	width: 110px;
	height: 100%;
	align-items: flex-end;
}

.scale-and-floor {
	display: flex;
	width: 100%;
	height: 40%;
	flex-direction: column;
	justify-content: flex-end;
}

.items {
	width: 100%;
	height: 48%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 5px 0;
}

.items.scale {
	height: 30%;
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.value-scale {
	font-size: 12px;
	line-height: 11px;
	color: #303030;
	cursor: default;
	background: transparent;
}

.value-scale span::selection {
	background: transparent;
}

svg {
	cursor: pointer;
}

.scale-and-floor-wrapper svg:hover .fill-line { 
  fill: #FFFFFF;
}

.scale-and-floor-wrapper svg:active .fill-line { 
  fill: #E4B218;
}

.map svg:hover .light-table { 
  fill: #E4B218;
}

.map svg:active .light-table { 
  fill: #E4B218;
}

.map svg:focus .light-table { 
  fill: #B58F1C;
}

#floor {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 76px;
	height: 126px;
	border-radius: 10px;
	background: #303030;
}

.btn-toggle {
   display:flex;
   padding:0;
   margin:0;
   border:0;
   background:#303030;
   outline: none;
   overflow:hidden;
 }

 .btn-toggle.down-toggle:disabled .fill-up-down {
  fill: #64552A;
}

.up-toggle {
	display: flex;
}

#floor span {
	font-family: GothamPro;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 57px;
	text-align: center;
	color: #FFC617;
	cursor: default;
}

#floor span::selection {
	background: transparent;
}

.down-toggle {
	display: flex;
}

.items svg:disabled .fill-up-down { 
  fill: #64552A;
}

.items svg:hover .fill-up-down { 
  fill: #E4B218;
}

.items svg:active .fill-up-down { 
  fill: #B58F1C;
}
